.forget-password-page {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    padding: 47px 3%;
    position: relative;
    background-color: #fff;
    width: 450px;
    h1 {
      text-align: center;
      font-size: 27.5px;
    }
    .input {
      margin-top: 25px;
      height: 93px;
      position: relative;
      input {
        display: block;
        height: 53.5px;
        margin-top: 2.5px;
        width: 100%;
        outline: 0;
        border: 2px solid #999;
        font-size: 15px;
        padding: 0 20px;
        &:focus {
          border: 2px solid #29aae3;
        }
      }
      .error {
        font-size: 14px;
        color: red;
      }
      .show-password-btn {
        position: absolute;
        z-index: 13;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        outline: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        i {
          font-size: 13px;
          color: #726c6c !important ;
        }
      }
      &.still-focus input {
        border: 2px solid #29aae3;
      }
      &.error input {
        border: 2px solid red;
      }
    }
    .reseting {
      background-color: transparent;
      outline: 0;
      border: 0;
      display: block;
      margin-top: 10px;
      cursor: pointer;
    }
    .confirm-password {
      margin-top: 10px;
    }
    .submit-button {
      display: block;
      margin-top: 20px;
      padding: 0 15px;
      outline: 0;
      font-size: 15px;
      cursor: pointer;
      height: 35px;
      text-transform: capitalize;
      background-color: #29aae3;
      color: #fff;
      border: 1px solid #29aae3;
    }
    p:not(.error) {
      margin-top: 30px;
      a {
        text-decoration: none;
        color: #29aae3;
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 768px) {
  .forget-password-page .container {
    width: 90%;
    h1 {
      font-size: 23.5px !important;
    }
    .submit-button {
      width: 100%;
      height: 40px;
    }
  }
}
